/* style.css di direktori src */

/* Reset styling untuk memastikan konsistensi lintas browser */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* Memungkinkan lebar dan tinggi untuk menyertakan padding dan border */
}

/* Menerapkan box-sizing ke semua elemen */
* {
  box-sizing: inherit;
}

